{
  "overrides": [
    {
      "files": ".prettierrc",
      "options": { "parser": "json" }
    }
  ],
  "arrowParens": "always",
  "endOfLine": "lf",
  "printWidth": 90,
  "singleQuote": true,
  "bracketSpacing": true,
  "trailingComma": "all"
}
